.articles {
    display: flex;
    flex-direction: row;
}

.article {
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .articles {
        display: flex;
        flex-direction: column;
    }
}